*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    --color-black: #333333;
    --color-green: #37A652;
    --color-blue: #418EF2;
    --color-white: #F2F2F2;
}

html, body {
    background-color: var(--color-black);
    height: 100%;
}

ul {
    list-style: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-blue);
    text-align: center;
}

.subtitle {
    font-size: 1.55rem;
    font-weight: 500;
    color: var(--color-blue);
}

.content {
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: normal;
}

.subContent {
    color: var(--color-green);
    font-size: 1.15rem;
    font-weight: lighter;
    font-style: italic;
}

.space {
    padding: 48px 2%;
}

.video {
    width: 100%;
    max-width: 600px;
    height: 400px;
    border-radius: 12px;
    border: 3px solid var(--color-green);
}

.bar, .bar--black {
    width: 100%;
    border: 2px solid var(--color-green);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color-green);
    margin: 48px auto;
}

.bar--black {
    border: 2px solid var(--color-black);
    box-shadow: none;
}

.bar--black:last-child {
    display: none;
}

header {
    width: 100%;
    padding: 24px 2%;
    background-color: var(--color-black);
}

.menuDesktop, .menuMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuDesktop__Logo, .menuMobile__Logo, .menu--works__logo {
    width: 100%;
    max-width: 42px;
    text-decoration: none;
}

.menuDesktop li {
    display: inline-block;
    margin: 0 16px -4px 0;
}

.menuDesktop__link {
    color: var(--color-white);
    font-size: 1.25rem;
}

.menuMobile {
    display: none;
}

.menuMobile__navLinks {
    width: 100%;
    position: absolute;
    top: 112px;
    left: 0;
    background-color: var(--color-green);
    padding: 16px 2%;
    transition: all ease 0.3s;
    opacity: 0;
    z-index: 2;
}

.menuMobile__navLinks li {
    margin: 16px 0;
}

.menuMobile__link {
    color: var(--color-black);
    font-size: 1.25rem;
}

.menuMobile__btn {
    width: 100%;
    max-width: 42px;
    height: 42px;
    font-size: 2.65rem;
    color: var(--color-white);
    border: 0;
    background-color: var(--color-black);
    cursor: pointer;   
}

.menuMobile--show {
    opacity: 1;
}

.birthday {
    width: 100%;
    height: 80vh;
    background-color: var(--color-white);
    padding: 130px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: none;
}

.countdown__time {
    font-size: 1.9rem;
    color: var(--color-black);
}

.birthday__loading {
    border: 18px solid #ccc;
    border-top-color: var(--color-green);
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
    height: 300px;
    display: block;
    animation: rotating 1s infinite;
}

canvas {
    width: 100%;
    height: 100%;
    display: none;
}

@keyframes rotating {
    to{
        transform: rotate(1turn);
        -o-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
    }
}

.confetti {
    width: 100%;
    height: inherit;
    position: relative;
    display: none;
}

.confetti__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.confetti__content > .title {
    color: var(--color-black);
    font-size: 2.65rem;
}

.confetti__content > .subtitle {
    color: var(--color-black);
    font-size: 2rem;
}

.bgblurEffect {
    width: 100%;
    height: 5%;
    background-color: var(--color-black);
    filter: blur(100px);
}

main {
    width: 100%;
    padding: 48px 2%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    padding: 16px 1%;
}

.banner__socialMedia {
    font-size: 2.65rem;
    color: var(--color-white);
    padding: 16px 2%;
    transition: all ease 0.3s;
}

.banner__socialMedia:hover {
    color: var(--color-green);
}

.curious__wraper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curious__video {
    margin: 24px 0;
}

.pei {
    padding: 32px 2%;
}

.pei__content {
    width: 100%;
    max-width: 800px;
    text-align: left;
    display: inline-block;
}

.pei__content p {
    padding: 16px 0;
}

.readingRoom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readingRoom__video {
    margin: 48px 2%;
}

.readingRoom__description {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.readingRoom__description > p {
    padding: 16px 0;
}

.readingRoom__description h2 {
    text-align: center;
}

.readingRoom__socialMedia {
    font-size: 2.65rem;
    color: var(--color-white);
    padding: 16px 2%;
    transition: all ease 0.3s;
}

.readingRoom__socialMedia:hover {
    color: var(--color-green);
}

.motivation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.motivation figure {
    text-align: left;
}

.motivation__draw {
    max-width: 600px;
    height: 400px;
}

.motivation__link {
    color: var(--color-white);
}

.motivation__phrase {
    width: 100%;
    max-width: 400px;
}

.motivation__phrase .content {
    text-align: left;
}

.motivation__phrase .subContent {
    text-align: right;
    padding: 16px 2%;
}

/*-- Page Works --*/

.menu--works  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works {
    width: 100%;
    background-color: var(--color-white);
    padding: 48px 0;
    text-align: center;
}

.works__video {
    padding: 24px 2% 48px 2%;
}

.works .container {
    max-width: 800px;
    text-align: left;
}

.works figcaption > h2 {
    color: var(--color-black);
    margin-top: 16px;
}

.works figcaption > p {
    color: var(--color-blue);
    margin: 8px 0;
    font-style: italic;
}

.works__draw {
    width: 100%;
    height: 600px;
    text-align: center;
}

.works__draw figcaption {
    margin: 16px 4%;
}

/*-- Responsive --*/

@media screen and (max-width: 1320px) {
    .curious__wraper {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 936px) {
    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.4rem;
    }

    .content {
        font-size: 1.15rem;
    }

    .subContent {
        font-size: 1rem;
    }


    .birthday__loading {
        max-width: 200px;
        height: 200px;
    }

    .confetti__content > .title {
        color: var(--color-black);
        font-size: 2rem;
    }
    
    .confetti__content > .subtitle {
        color: var(--color-black);
        font-size: 1.4rem;
    }

    .countdown__time {
        font-size: 1.5rem;
    }

    .banner__img {
        max-width: 200px;
        height: 220px;
    }

    #showWorks {
        text-align: center;
    }

    .works__draw {
        width: 80%;
        height: 450px;
    }

    .content {
        margin-left: 10%;
        text-align: left;
    }

    .readingRoom {
        flex-direction: column;
    }

    .motivation {
        flex-direction: column;
    }

    .motivation__draw {
        max-width: 400px;
        height: 200px;
    }

    .motivation__phrase {
        margin: 24px 0 16px 0;
    }
}

@media screen and (max-width: 600px) {
    .menuDesktop {
        display: none;
    }

    .menuMobile {
        display: flex;
    }

    .works__draw {
        height: 300px;
    }

    .bar {
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    .countdown {
        justify-content: center;
        flex-direction: column;
    }

    .countdown__time {
        margin: 16px 0;
    }

    .video {
        height: 240px;
    }

    .works__draw {
        height: 240px;
    }
}

@media screen and (max-width: 368px) {
    .video {
        height: 220px;
    }

    .works__draw {
        width: 80%;
        height: 220px;
    }
}